---
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Hero from "~/components/widgets/Hero.astro";
import Stats from "~/components/widgets/Stats.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Layout from "~/layouts/PageLayout.astro";
import bryan from "~/assets/images/bryan.webp";
import ryan from "~/assets/images/ryan.JPG";
import amaar from "~/assets/images/amaar.jpg";
const metadata = {
  title: "About us",
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: "https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
      alt: "Caos Image",
    }}
  >
    <Fragment slot="title">
      To help others build
      <span class="text-accent dark:text-white highlight"> real software</span>
    </Fragment>

    <Fragment slot="subtitle"
      >The Software Development club aims to educate students, from the basics
      of <b>programming and software engineering</b> (semester 1) to <b
        >developing real applications and collaborating with others</b
      > (semester 2).
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Content
    isReversed
    tagline="About Us"
    title="Meet our team"
    subtitle="We too are just a group of high school students who are passionate about software development."
    items={[
      {
        icon: null,
        // title: "",
        description: "I'm a very passionate software developer.",
      },
      {
        title: "5+ years of programming experience",
        description:
          "I have expertise in progrmaming languages such as Python, Java, C++, Rust, and JavaScript, and have worked on many various projects.",
      },
      {
        title: "USACO Silver",
        description:
          "The USA Computing Olympiad (USACO) is a programming competition for U.S. middle and high school students, featuring online contests with algorithmic problems with levels ranging from bronze to platnium. Top performers may advance to training camps and the International Olympiad in Informatics (IOI).",
      },
    ]}
    image={{
      src: bryan.src,
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Bryan Hu
      </h3>
      Co-President
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        icon: null,
        // title: "",
        description: "I'm Amaar Chughtai.",
      },
      {
        title: "This is a nice checkmark",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla.",
      },
    ]}
    image={{
      src: amaar.src,
      alt: "Blueprint Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Amaar Chughtai
      </h3>
      Co-President
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        icon: null,
        // title: "",
        description: "I'm Ryab.",
      },
      {
        title: "This is a nice checkmark",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla.",
      },
    ]}
    image={{
      src: ryan.src,
      alt: "Astronauts Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Ryan Abraham
      </h3>
      Vice President
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        icon: null,
        // title: "",
        description:
          '"i\'m going to be completely honest, i have no clue about the bio"',
      },
      // {
      //   title: "This is a nice checkmark",
      //   description:
      //     "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla.",
      // },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80",
      alt: "Blueprint Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Shiloh Samuel
      </h3>
      Head of Marketing
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our vision"
    subtitle=`"I take this very seriously. Too many kids these days are forced into learning programming, especially competitive programming. So they learn, because they were forced to learn. But then afterwards, they realize that their skills are put to waste as they did not know how to put them into practical use. I want to change that with this club."<br/><br/> - Bryan Hu, Co-President`
    items={[
      {
        title: "To <b>empower</b> students",
        description:
          "I want our club to bring the very best out of people, allowing them to build great things without anything to slow them down.",
      },
      {
        title: "To <b>impact</b> others",
        description:
          "I want to be able to create a tangable impact on the world what we do (in a positive way), which includes reaching out to the local community",
      },
      {
        title: "To be <b>sustainable</b>",
        description:
          "I don't want this club to just die out when I graduate but instead, I want it to be a club that lasts for a long time. A long enough time that it can create a real impact on the next generation of software engineers",
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: "See more",
      href: "/",
    }}
    items={[
      {
        title: "Global reach",
        description:
          "Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.",
        icon: "tabler:globe",
      },
      {
        title: "Positive customer feedback and reviews",
        description:
          "Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.",
        icon: "tabler:message-star",
      },
      {
        title: "Awards and recognition as industry experts",
        description:
          "Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.",
        icon: "tabler:award",
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Join us"
    columns={2}
    items={[
      {
        title: "In person",
        description: "Location tentative",
      },
      {
        title: "Online",
        description: "Zoom link tentative",
      },
      // {
      //   title: "Australia",
      //   description: "9012 Lorem Ipsum St, 90123, Sydney",
      // },
      // {
      //   title: "Brazil",
      //   description: "3456 Lorem Ipsum St, 34567, São Paulo",
      // },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: "Chat with us",
        description:
          "Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.",
        icon: "tabler:messages",
      },
      {
        title: "Call us",
        description:
          "Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.",
        icon: "tabler:headset",
      },
    ]}
  /> -->
</Layout>
