---
import Layout from "~/layouts/PageLayout.astro";

import Hero2 from "~/components/widgets/Hero2.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

const metadata = {
  title: "Club resources",
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Our Resources"
    title="Completely free. Always."
    subtitle="Check out all of our club resources below. We have everything you need to get started."
    actions={[
      // {
      //   variant: "primary",
      //   text: "Google Drive",
      //   href: "https://drive.google.com/drive/folders/1_GhPeE93us6rnAU4eXRhZhCAZgp_TMjK?usp=sharing",
      //   icon: "tabler:brand-google-drive",
      // },
      { text: "Contact Us", href: "/contact" },
    ]}
  />
  <div class="flex">
    <CallToAction
      title="Free API access"
      subtitle="We offer Valley Christian club members FREE access to any paid API that they want for semester 2 season. Just request it in the form"
      actions={[
        {
          variant: "primary",
          text: "Request now",
          href: "https://forms.gle/epF1jEWE2hRngEEu8",
          icon: "tabler:sparkles",
        },
      ]}
    />
    <CallToAction
      title="Public Google Drive"
      subtitle="Here is our public Google Drive containing our club curriculum slides and other resources"
      actions={[
        {
          variant: "primary",
          text: "Visit",
          href: "https://drive.google.com/drive/folders/1SE4-s3sQAerCZLDZ7hzcn30Fk67hdHpl?usp=sharing",
          icon: "tabler:brand-google-drive",
        },
      ]}
    />
  </div>
</Layout>
