---
import Features2 from "~/components/widgets/Features2.astro";
---

<Features2
  title="Our locations"
  id="our-locations"
  tagline="Join us"
  columns={2}
  items={[
    {
      title: "In person",
      description:
        // TODO: Make it more readable and adapted to user timezone
        "G126 (Mr. Mac's room) on Mondays Warrior Time (10:45-11:25 am PST)",
    },
    {
      title: "Online",
      description: `
        <div class="flex w-full justify-evenly items-center">
          <a
            class="link"
            href="https://www.google.com/url?q=https://us04web.zoom.us/j/75611384592?pwd%3DTKyG7DBYbYlKkJbFPRGRUEFge5XeOL.1&sa=D&source=calendar&ust=1724964102328241&usg=AOvVaw1DgRGbbNwJD62NxLQOzsLo"
            >Zoom link</a
          >
          <div class="flex flex-col">
            <p>Meeting ID: 756 1138 4592</p>
            <p>Passcode: 8BNwni</p>
          </div>
        </div>
      `,
    },
    // {
    //   title: "Australia",
    //   description: "9012 Lorem Ipsum St, 90123, Sydney",
    // },
    // {
    //   title: "Brazil",
    //   description: "3456 Lorem Ipsum St, 34567, São Paulo",
    // },
  ]}
/>
